/* main body styles */

body {
    background-image: url(../img/143279-OTIJP6-161.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 35pt;
    color: hotpink;
}

p {
    font-size: 15pt;
    color: white;
    display: inline-block;
}

#name a {
    color: hotpink;
}

a {
    color: #00BFFF;
    text-decoration: none;
}


/* tic-tac-toe board styles*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    width: 600px;
    height: 650px;
    margin: 30px;
    margin-top: 75px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .grid-container.floater-right {
      background: rgba(255, 255, 255, 0.6);
      grid-template-columns: auto;
      width: 500px;
      height: 650px;
  }


  .grid-item {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .floater-left {
      float: left;
  }

  .floater-right {
      float: right;
  }

  img {
      height: 150px;
      width: 150px;
  }

  /* footer styles */

  footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
    background: rgba(255, 105, 180, 0.2);
    padding: 30px;
  }